<a href="https://colab.research.google.com/github/PlayerDos/OneTwoThreeFour/blob/main/Load_By_Month.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from datetime import datetime as dt
import numpy as np
import calendar

In [2]:
df = pd.read_csv('/content/needDSMYears.csv', index_col=0)
df.head()

      Code                   Name  ... _06_12_22 _07_12_22
0        0            Аксай_5этап  ...         0         0
1     Absm    Автобетоносмеситель  ...         0         0
2  Abtnshk       Асфальтобетонщик  ...         0         0
3     AGud         Автогудронатор  ...         0         0
4     AP10  Асфальтоперегружатель  ...         0         0

[5 rows x 363 columns]

In [3]:
# форматирование имен столбцов из str в datetime ('_01_01_22' ---> 2022-01-01 00:00:00)
for index, item in enumerate(df.columns.values):
  df.columns.values[index] = pd.to_datetime(df.columns.values[index], format='_%d_%m_%y', errors='ignore')
  # форматирование имен столбцов из datetime в date (2022-01-01 00:00:00 ---> 2022-01-01)
  if type(df.columns.values[index]) is pd._libs.tslibs.timestamps.Timestamp:
    df.columns.values[index] = dt.date(df.columns.values[index])

In [4]:
# сортировка дней
df_Days = df.select_dtypes(exclude='object')
df_Info = df.select_dtypes(include='object')
df_Days.sort_index(axis=1, inplace=True)
df = df_Info.join(df_Days)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [5]:
# разбиение массива на 2 отдельных (количество техники и трудоёмкость)
df_Amount = pd.DataFrame(columns=df.columns)
df_WorkLoadPlan = pd.DataFrame(columns=df.columns)
for index, item in enumerate(df.values[:, 2]): # ??? change '2' to 'ParName' in enumerate(df.values[:, 2])
  if 'Количество' in item:
    df_Amount.loc[df_Amount.shape[0]] =  df.values[index]
  elif 'Трудоёмкость' in item:
    df_WorkLoadPlan.loc[df_WorkLoadPlan.shape[0]] = df.values[index]
  else:
    continue

РАСЧЕТ СРЕДНИХ ЗНАЧЕНИЙ ТЕХНИКИ ПО МЕСЯЦАМ

In [6]:
# форматирование фрейма для последующих операций
df_Amount.set_index('Name', inplace=True)
df_Amount = df_Amount.T

In [7]:
# получение списка значений "год-месяц" для последующего разделения фрейма по месяцам
year_month_list = []
for i in df_Amount.index[3:]:
  year_month = str(i)[:7]
  if (year_month not in year_month_list):
    year_month_list.append(year_month)

In [8]:
# создание пустого фрейма для средних значений техники по месяцам
df_Amount_Mean = pd.DataFrame(columns=df_Amount.columns)

for i in range(len(year_month_list)):
  df = pd.DataFrame(columns=df_Amount.columns)
  for index, item in enumerate(df_Amount.index):
    if year_month_list[i] in str(item):
      df = df.append(df_Amount.iloc[index])
  year = int(year_month_list[i][:4])
  month = int(year_month_list[i][5:7])
  last_day = calendar.monthrange(year, month)[1]

  # переменные с промежуточными датами
  d_01 = dt.strptime((year_month_list[i]+'-01'), '%Y-%m-%d').date()
  d_20 = dt.strptime((year_month_list[i]+'-20'), '%Y-%m-%d').date()
  d_10 = dt.strptime((year_month_list[i]+'-'+str(last_day-20)), '%Y-%m-%d').date()
  d_30 = dt.strptime((year_month_list[i]+'-'+str(last_day)), '%Y-%m-%d').date()

  # переменные с индексами элементов, соответствующих условиям
  idx_1 = df.index[(d_01 <= df.index) & (df.index <= d_20)].copy()
  idx_2 = df.index[(d_10 < df.index) & (df.index <= d_30)].copy()

  # фреймы с рассчитанными средними за первые и последние 20 дней
  df_1 = df.loc[idx_1].mean(axis=0)
  df_2 = df.loc[idx_2].mean(axis=0)

  # слияние с выбором максимального среднего в одну строку
  row_max_mean = pd.concat([df_1, df_2], axis=1).max(axis=1)
  row_max_mean.name = calendar.month_name[month]

  # добавление строки со рассчитанными средними значениями в итоговый фрейм
  df_Amount_Mean = df_Amount_Mean.append(row_max_mean)

# настройка отображения и форматирования значений фрейма
df_Amount_Mean = df_Amount_Mean.T
pd.options.display.float_format = '{:.2f}'.format

# форматирование значений месяцев
months = df_Amount_Mean.columns.values.tolist()
df_Amount_Mean.columns = pd.CategoricalIndex(df_Amount_Mean.columns, categories=months, ordered=True)

df_Amount_Mean.head()

                                              January  ...  December
Name                                                   ...
Автобетоносмеситель                              0.00  ...      0.00
Асфальтобетонщик                                 0.86  ...      0.00
Автогудронатор                                   0.00  ...      0.00
Асфальтоперегружатель                            0.00  ...      0.00
Автосамосвал, грузоподъемность от 22 до 27 т    29.07  ...      2.95

[5 rows x 12 columns]

РАСЧЕТ ТРУДОЁМКОСТИ ПО МЕСЯЦАМ

In [9]:
# форматирование фрейма для последующих операций
df_WorkLoadPlan.set_index('Name', inplace=True)
df_WorkLoadPlan = df_WorkLoadPlan.T

In [10]:
df_T = pd.DataFrame(columns=df_WorkLoadPlan.columns)

for i in range(len(year_month_list)):
  df = pd.DataFrame(columns=df_WorkLoadPlan.columns)
  for index, item in enumerate(df_WorkLoadPlan.index):
    if year_month_list[i] in str(item):
      df = df.append(df_WorkLoadPlan.iloc[index])
  year = int(year_month_list[i][:4])
  month = int(year_month_list[i][5:7])
  last_day = calendar.monthrange(year, month)[1]

  # переменные с датами первого и последнего дня месяца
  d_01 = dt.strptime((year_month_list[i]+'-01'), '%Y-%m-%d').date()
  d_30 = dt.strptime((year_month_list[i]+'-'+str(last_day)), '%Y-%m-%d').date()

  # переменные с индексами элементов (дат), входящих в месяц
  idx = df.index[(d_01 <= df.index) & (df.index <= d_30)].copy()

  # строка с рассчитанными суммами трудоёмкости за месяц
  row_sum_workloadplan = df.loc[idx].sum(axis=0)
  row_sum_workloadplan.name = calendar.month_name[month]

  # добавление строки со рассчитанными суммами трудоёмкости в итоговый фрейм
  df_T = df_T.append(row_sum_workloadplan)

# настройка отображения и форматирования значений фрейма
df_T = df_T.T
df_T = df_T.iloc[:].astype(int)

# форматирование названий месяцев
months = df_T.columns.values.tolist()
df_T.columns = pd.CategoricalIndex(df_T.columns, categories=months, ordered=True)

df_T.head()

                                              January  ...  December
Name                                                   ...
Автобетоносмеситель                                 0  ...         0
Асфальтобетонщик                                   81  ...         0
Автогудронатор                                      0  ...         0
Асфальтоперегружатель                               0  ...         0
Автосамосвал, грузоподъемность от 22 до 27 т    10480  ...      1424

[5 rows x 12 columns]

РАСЧЕТ ЗАГРУЗКИ

In [11]:
df_Load = df_T / (30 * 20 * df_Amount_Mean)
df_Load = df_Load.fillna(0)

In [12]:
# форматирование отображения числовых значений с плавающей точкой (1.000 ---> 100%)
for i in df_Load.columns:
  df_Load[i] = df_Load[i].map('{:.1%}'.format)

df_Load.head()

                                             January February  ... November December
Name                                                           ...
Автобетоносмеситель                             0.0%     0.0%  ...     0.0%     0.0%
Асфальтобетонщик                               15.8%     0.0%  ...    26.2%     0.0%
Автогудронатор                                  0.0%     0.0%  ...     6.7%     0.0%
Асфальтоперегружатель                           0.0%     0.0%  ...    20.8%     0.0%
Автосамосвал, грузоподъемность от 22 до 27 т   60.1%    73.9%  ...    66.2%    80.5%

[5 rows x 12 columns]

СЛИЯНИЕ РЕЗУЛЬТАТОВ

In [13]:
# добавление подназваний столбцов
df_Load.columns = pd.MultiIndex.from_product([["Загрузка"], df_Load.columns])
df_T.columns = pd.MultiIndex.from_product([["Трудоёмкость"], df_T.columns])
df_Amount_Mean.columns = pd.MultiIndex.from_product([["Количество"], df_Amount_Mean.columns])

df_Load = df_Load.swaplevel(axis=1)
df_T = df_T.swaplevel(axis=1)
df_Amount_Mean = df_Amount_Mean.swaplevel(axis=1)

In [14]:
# слияние фреймов загрузки и трудоёмкости
df_T_Load = pd.merge(df_Load, df_T, left_index=True, right_index=True)
df_T_Load.sort_index(axis=1, level=0, inplace=True)
df_T_Load.head()

                                              January  ...     December
                                             Загрузка  ... Трудоёмкость
Name                                                   ...
Автобетоносмеситель                              0.0%  ...            0
Асфальтобетонщик                                15.8%  ...            0
Автогудронатор                                   0.0%  ...            0
Асфальтоперегружатель                            0.0%  ...            0
Автосамосвал, грузоподъемность от 22 до 27 т    60.1%  ...         1424

[5 rows x 24 columns]

In [15]:
# слияние фреймов загрузки и количества
df_Amount_Load = pd.merge(df_Load, df_Amount_Mean, left_index=True, right_index=True)
df_Amount_Load.sort_index(axis=1, level=0, inplace=True)
df_Amount_Load.head()

                                              January  ...   December
                                             Загрузка  ... Количество
Name                                                   ...
Автобетоносмеситель                              0.0%  ...       0.00
Асфальтобетонщик                                15.8%  ...       0.00
Автогудронатор                                   0.0%  ...       0.00
Асфальтоперегружатель                            0.0%  ...       0.00
Автосамосвал, грузоподъемность от 22 до 27 т    60.1%  ...       2.95

[5 rows x 24 columns]

СОХРАНЕНИЕ ФАЙЛОВ

In [16]:
# сохранение результатов "Загрузка/Трудоёмкость" в csv-файл
df_T_Load.to_csv('T_Load_Data.csv')

In [17]:
# сохранение результатов "Загрузка/Трудоёмкость" в xls-файл
df_T_Load.to_excel('T_Load_Data.xlsx')

In [18]:
# сохранение результатов "Загрузка/Количество" в csv-файл
df_Amount_Load.to_csv('Amount_Load_Data.csv')

In [19]:
# сохранение результатов "Загрузка/Трудоёмкость" в xls-файл
df_Amount_Load.to_excel('Amount_Load_Data.xlsx')